<h1>please login now</h1>

	<form class="" action="/success" method="post">
		<input type="text" name="username" id="username" placeholder="enter username here" ><br>
		<input type="password" name="password" placeholder="eneter password here" id="password" >
		<button>Login Now</button>
	</form>
