<h1>please login now</h1>

	<form class="" action="index.html" method="post">
		<input type="text" name="username" placeholder="enter username here" ><br>
		<input type="password" name="password" placeholder="eneter password here" >
		<button name="button">Login Now</button>
	</form>
